* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0 10px;
    align-items: center;
    position: absolute;
    font-size: 22px;
    z-index: 3;
    width: 97vw;
}

i {}

sup {
    color: rgb(0, 38, 255);
}

.container {
    display: flex;
}

.centered {
    position: absolute;
    top: 35%;
    left: 16%;
    font-weight: lighter;
    line-height: 60px;
}

.footed {
    position: absolute;
    top: 100%;
    left: 4%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}

.card {
    width: 34%;
    height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    text-align: start;
    padding-left: -1px;
    padding-right: -1px;
}


img {
    width: 100%;
    height: 100%;
    opacity: 0;

}

@keyframes imgFade {
    0% {
        opacity: 0;
        transform: translate(-60px, 0px);
    }

    60% {
        opacity: 0.1;

    }

    70% {
        opacity: 0.3;

    }

    80% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
        transform: translate(0px, 90px);
    }
}

img:hover {
    animation: imgFade 0.7s ease forwards;
}

@keyframes textMove {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-90px);

    }

}


.card:hover {
    animation: textMove 0.7s ease forwards;

}

b {
    font-size: 40px;
}


@media only screen and (min-width: 800px) and (max-width: 1160px) {
    .centered {
        position: absolute;
        top: 35%;
        left: 10%;
        font-weight: lighter;
        line-height: 50px;
    }

    b {
        font-size: 32px;

    }

}

@media only screen and (min-width: 700px) and (max-width: 800px) {
    .centered {
        position: absolute;
        top: 35%;
        left: 9%;
        font-weight: lighter;
        line-height: 45px;
    }

    b {
        font-size: 28px;
    }

    .navbar {
        font-size: 16px;
    }

}

@media only screen and (max-width: 700px) {

    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 100vh;
        border-left: 1px solid rgb(0, 0, 0);
        border-right: 1px solid rgb(0, 0, 0);
        position: relative;
        padding-left: -1px;
        padding-right: -1px;
    }

    img {
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    b {
        font-size: 50px;
    }

    .centered {
        position: absolute;
        top: 35%;
        left: 16%;
        font-weight: lighter;
        line-height: 80px;
    }


}