* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(187, 187, 187);
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
}

nav>button {
    margin: 10px 20px 0 0;
    border: none;
    background-color: #ffffff00;
    font-size: 35px;
    align-self: end;
    margin-left: 990px;


}


/* CONTENT AREA */

.container {
    display: flex;

}

.card {
    width: 35%;
    height: 100vh;

}

img {
    transform: translateX(-100px);
    opacity: 0;
    width: 33%;
    height: 100%;
    position: absolute;
}

.cardhead {
    font-size: 32px;
    color: rgb(255, 255, 255);
    margin: 200px 0 0 50px;
    transform: translateY(20px);

}

img:hover {
    transform: translateX(0px);
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
    opacity: 1;


}

.cardhead:hover {
    transform: translateY(-110px);
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0;
    /* opacity: 1; */
    color: rgb(253, 254, 255);

}





/* 
.imgOne {
    background-image: url(picOne.jpg);
    background-size: cover;
    transform: translateX(-50px);
    filter: blur(100px);
    opacity: 0;
}


.imgTwo {
    background-image: url(picTwo.jpg);
    background-size: cover;
    transform: translateX(-50px);
    filter: blur(100px);
    opacity: 0;
}


.imgThree {
    background-image: url(picThree.jpg);
    background-size: cover;
    transform: translateX(-50px);
    filter: blur(100px);
    opacity: 0;
}

.card>h1 {
    margin: 230px 0 0 50px;
}

.card>h1:hover {
    transform: translateY(-150px);
    transition-duration: .5s;
}

.imgOne:hover {
    transform: translateX(0px);
    transition-duration: .5s;
    transition-timing-function: ease-in;
    opacity: 1;
    filter: blur(0px);
}

.imgTwo:hover {
    transform: translateX(0px);
    transition-duration: .5s;
    transition-timing-function: ease-in;
    filter: blur(0px);
    opacity: 1;
}

.imgThree:hover {
    transform: translateX(0px);
    transition-duration: .5s;
    transition-timing-function: ease-in;
    filter: blur(0px);
    opacity: 1;
} */


.navhead {
    font-size: 35px;
    margin: 10px 0 0 60px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.navhead:hover {
    color: #ffffff;
    z-index: 2;
}

sup {
    color: rgb(21, 82, 212);
}